vaadin-text-field.error > [slot="helper"] {
    color : red;
}
vaadin-password-field.error > [slot="helper"] {
    color : red ;
}

vaadin-integer-field.error > [slot="helper"]{
    color : red ;
}

vaadin-number-field.error > [slot="helper"]{
    color : red ;
}

vaadin-combo-box.error > [slot="helper"] {
    color: red;
}

.onPlan{
   cursor: crosshair;
}


vaadin-app-layout.x::part(drawer) {
    border-color: #35b0f7 ;
    border-width: 2px;
}



