vaadin-text-field.error > [slot="helper"] {
    color : red;
}
vaadin-password-field.error > [slot="helper"] {
    color : red ;
}

vaadin-integer-field.error > [slot="helper"]{
    color : red ;
}


